*{
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 2270px;
}

@media (max-width: 650px){
    html,
    body {
        min-height: 2140px;
    }
}

body{
    background: linear-gradient(to bottom, #ffffff,#d34b26, #46a0df, #2b292b);
}

h1, h2{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.3em;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    margin-top: 20px;
    font-size: 1.5em;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 14px;
}

h3{
    padding-left: 15px;
    font-size: 1.3em;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
}

@media (max-width: 650px){
    h1 {
     font-size: 1em;
    }
    h2{
        font-size: 0.9em;
    }
    h3{
        font-size: 0.8em;
    }
   }

.container{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background-color:  #F5FFFA;
    border-right: solid black 1px;
    border-left: solid black 1px;
}

#student_form{
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
}

.main_title{
    text-align: center;
    border-bottom: solid black 1px;
}

.ans{
    width: 100%;
    height: 200px;
}


datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    font-size: 0.9em;
    width: 200px;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }

button{
    width: 40%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #d34b26;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}